// Fonts
@import 'fonts.scss';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';

// Font-awesome css
@import '~font-awesome/scss/font-awesome.scss';

// Loader
@import 'loader.scss';

// Toastr
@import '~toastr/build/toastr.min.css';

// checkbox
@import 'checkbox.scss';

// select2
@import '~vue-multiselect/dist/vue-multiselect.min.css';

.login-box.register {
	width: 560px;
}

@media (max-width: 570px) {
	.login-box.register {
		width: 360px;
	}
}

label.remenber {
	position: absolute;
	top: -1px;
	left: 30px;
}

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

nav.navbar.navbar-static-top,
nav.navbar.navbar-static-top a.sidebar-toggle {
	max-height: 50px !important;
}

select.form-control {
	width: 100% !important;
}
div.multiselect__tags {
	border-radius: 0px;
	border-color: #d2d6de;
}
